variable "aws_region" {
  type    = string
  default = "us-east-1"
}

variable "cloudflare_zone_id" {
  type    = string
  default = ""
}

variable "aws_ses_identity_domain_name" {
  type    = string
  default = ""
}

variable "cloudflare_api_token" {
  type    = string
  default = ""
}

